[client]
    default-character-set = utf8mb4
[mysql]
    default-character-set = utf8mb4
[mysqld]

# 数据文件位置
datadir=/var/lib/mysql
#套接字文件位置
socket=/var/lib/mysql/mysql.sock

# 支持Emoji表情
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
init_connect='SET NAMES utf8mb4'

# 设置表名大小写不敏感
lower_case_table_names = 1

# 设置SQL语法
sql_mode = ''

# 设置时区
default-time_zone = '+8:00'

# 设置服务ID
server-id = 1

# 开启binlog
log-bin = binlog